.searchResults {
    display: flex;
    justify-content: flex-start; /* Align items at the start */
    align-items: center;
    padding: 0.1rem;
    flex-direction: column;
}

.resultItem {
    cursor: pointer;
    margin-top: 0.05rem; /* Reduce the top margin */
    padding: 0.1rem;
    border-bottom: 1px solid #d3d3d3;
}

.resultItem:hover {
    scale: 1.1;
}
